.ant-pagination .ant-pagination-item-active{

        border-color: transparent;
    }
    .ant-pagination .ant-pagination-item-active:hover{
        border-color:transparent;
    }

.ant-pagination .ant-pagination-item-active a{
        color: green;
    }
    .ant-pagination .ant-pagination-item-active:hover a {
        color: green;

    }

.ant-pagination .ant-pagination-item:not(.ant-pagination-item-active):hover{
    background-color: rgb(199, 233, 216);
}

/* .ant-pagination .ant-pagination-item a {
        color : green;
    }
    .ant-pagination .ant-pagination-item:hover a {
        color : red;
    } */

